/* Page Header Styles */
.pageHeader {
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  border-bottom: 5px solid #000000;
}

/* Nav Styles */
.nav,
.navList {
  display: flex;
  justify-content: space-around;
}

.navList {
  width: 100%;
  list-style-type: none;
}

.languageSelect {
  display: flex;
  align-items: center;
  height: auto;
  text-align: center;
}
